In [6]:
from sql_functions import get_dataframe
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as

In [3]:
schema = 'hh_analytics_24_1'

sql_query = f'SELECT * FROM {schema}.flights_group_x_sf'
flights = get_dataframe(sql_query)

flights.head(20)

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,...,air_time,actual_elapsed_time,distance,cancelled,diverted,lat,lon,city,tz_origin,tz_dest
0,2010-02-02,1825.0,1830,-5.0,1926.0,1945,-19.0,WN,N257WN,484,...,50.0,61.0,336.0,0,0,39.998001,-82.891899,Columbus,-5.0,-5.0
1,2010-02-02,1047.0,1025,22.0,1153.0,1135,18.0,WN,N308SA,801,...,52.0,66.0,336.0,0,0,39.998001,-82.891899,Columbus,-5.0,-5.0
2,2010-02-02,1331.0,1335,-4.0,1434.0,1445,-11.0,WN,N751SW,1480,...,52.0,63.0,336.0,0,0,39.998001,-82.891899,Columbus,-5.0,-5.0
3,2010-02-02,638.0,630,8.0,749.0,740,9.0,WN,N942WN,3137,...,50.0,71.0,336.0,0,0,39.998001,-82.891899,Columbus,-5.0,-5.0
4,2010-02-02,949.0,955,-6.0,1453.0,1515,-22.0,WN,N799SW,146,...,173.0,184.0,1491.0,0,0,39.861698,-104.672997,Denver,-7.0,-5.0
5,2010-02-02,1802.0,1805,-3.0,2320.0,2320,0.0,WN,N401WN,204,...,175.0,198.0,1491.0,0,0,39.861698,-104.672997,Denver,-7.0,-5.0
6,2010-02-02,1339.0,1345,-6.0,1841.0,1900,-19.0,WN,N743SW,242,...,170.0,182.0,1491.0,0,0,39.861698,-104.672997,Denver,-7.0,-5.0
7,2010-02-02,908.0,910,-2.0,1424.0,1455,-31.0,WN,N927WN,1305,...,183.0,196.0,1557.0,0,0,39.861698,-104.672997,Denver,-7.0,-5.0
8,2010-02-02,1800.0,1805,-5.0,2318.0,2335,-17.0,WN,N225WN,2539,...,181.0,198.0,1557.0,0,0,39.861698,-104.672997,Denver,-7.0,-5.0
9,2010-02-02,1248.0,1245,3.0,1813.0,1830,-17.0,WN,N792SW,3397,...,172.0,205.0,1557.0,0,0,39.861698,-104.672997,Denver,-7.0,-5.0
10,2010-02-02,1632.0,1620,12.0,1803.0,1745,18.0,WN,N665WN,213,...,65.0,91.0,408.0,0,0,42.212399,-83.353401,Detroit,-5.0,-5.0
11,2010-02-02,1045.0,1030,15.0,1206.0,1200,6.0,WN,N370SW,1758,...,63.0,81.0,408.0,0,0,42.212399,-83.353401,Detroit,-5.0,-5.0
12,2010-02-02,735.0,740,-5.0,853.0,910,-17.0,WN,N688SW,1922,...,65.0,78.0,408.0,0,0,42.212399,-83.353401,Detroit,-5.0,-5.0
13,2010-02-02,1431.0,1430,1.0,1653.0,1715,-22.0,WN,N386SW,9,...,123.0,142.0,925.0,0,0,26.072599,-80.152702,Fort Lauderdale,-5.0,-5.0
14,2010-02-02,734.0,735,-1.0,946.0,1010,-24.0,WN,N451WN,214,...,116.0,132.0,925.0,0,0,26.072599,-80.152702,Fort Lauderdale,-5.0,-5.0
15,2010-02-02,1736.0,1740,-4.0,2005.0,2015,-10.0,WN,N688SW,1610,...,127.0,149.0,925.0,0,0,26.072599,-80.152702,Fort Lauderdale,-5.0,-5.0
16,2010-02-02,1107.0,1110,-3.0,1325.0,1345,-20.0,WN,N205WN,1942,...,121.0,138.0,925.0,0,0,26.072599,-80.152702,Fort Lauderdale,-5.0,-5.0
17,2010-02-02,856.0,900,-4.0,1125.0,1150,-25.0,WN,N503SW,644,...,131.0,149.0,992.0,0,0,26.072599,-80.152702,Fort Lauderdale,-5.0,-5.0
18,2010-02-02,1333.0,1305,28.0,1556.0,1605,-9.0,WN,N629SW,2441,...,126.0,143.0,992.0,0,0,26.072599,-80.152702,Fort Lauderdale,-5.0,-5.0
19,2010-02-02,1913.0,1845,28.0,2147.0,2130,17.0,WN,N383SW,3855,...,138.0,154.0,992.0,0,0,26.072599,-80.152702,Fort Lauderdale,-5.0,-5.0

In [4]:
flights.columns

Index(['flight_date', 'dep_time', 'sched_dep_time', 'dep_delay', 'arr_time',
       'sched_arr_time', 'arr_delay', 'airline', 'tail_number',
       'flight_number', 'origin', 'dest', 'air_time', 'actual_elapsed_time',
       'distance', 'cancelled', 'diverted', 'lat', 'lon', 'city', 'tz_origin',
       'tz_dest'],
      dtype='object')

In [5]:
flights['flight_date'] = pd.to_datetime(flights['flight_date'])

# Group by flight_date and aggregate counts of cancelled and diverted flights
agg_flights = flights.groupby(['origin', 'flight_date']).agg({'cancelled': 'sum', 'diverted': 'sum'}).reset_index()


# Plot the counts
plt.figure(figsize=(10, 6))
plt.plot(agg_flights['origin', 'flight_date'], agg_flights['cancelled'], label='Cancelled Flights', marker='o')
plt.plot(agg_flights['origin', 'flight_date'], agg_flights['diverted'], label='Diverted Flights', marker='o')

# Add labels and title
plt.xlabel('Flight Date')
plt.ylabel('Count')
plt.title('Count of Cancelled and Diverted Flights by Flight Date and origin')

# Rotate x-axis labels for better readability
plt.xticks(rotation=45)

# Add legend
plt.legend()

# Show plot
plt.show()

KeyError: ('origin', 'flight_date')